<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="en-US"class="no-js iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="en-US" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en-US" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-US" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html lang="en">
<head>
	<meta charset="utf-8">
	<%= display_meta_tags site: 'Vanessa Amilet - Captivating Designs for Mission-Driven Entrepreneurs', reverse: true %>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="author" content="Vanessa Amilet Santos">
	<meta name="contact" content="vanessa.amilet@gmail.com">
	<meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0' />
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="True">
	<meta name="theme-color" content="#255958">
    <meta name="msapplication-TileColor" content="#255958">
	<link rel="shortcut icon" type="image/x-icon" href=<%= asset_path "favicon.ico" %>>
	<!-- Website Icons -->
	<link rel="apple-touch-icon" sizes="57x57" href="icons/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="icons/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="icons/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="icons/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="icons/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="icons/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="icons/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="icons/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="icons/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="icons/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">

	<!-- Opengraph Tags -->
	<meta property="og:locale" content="en_US"/>
	<meta property="og:title" content="Vanessa Amilet - Captivating Designs for Mission-Driven Entrepreneurs"/>
	<meta property="og:type" content="website"/>
	<meta property="og:image" content="https://www.vanessaamilet.com/images/vanessaamilet-social.jpg"/>
	<meta property="og:url" content="https://www.vanessaamilet.com/"/>
	<meta property="og:site_name" content="Vanessa Amilet - Website & Graphic Designer"/>
	<meta property="og:description" content="Captivating online journeys for mission-driven individuals & businesses seeking to establish an authentic online presence." />

	<!-- Twitter Cards -->
	<meta name="twitter:card" value="summary" content="summary_large_image">
	<meta name="twitter:site" content="@vanessaamilet">
	<meta name="twitter:creator" content="@vanessaamilet">
	<meta name="twitter:title" content="Vanessa Amilet - Captivating Designs for Mission-Driven Entrepreneurs">
	<meta name="twitter:description" content="Captivating online journeys for mission-driven individuals & businesses seeking to establish an authentic online presence.">
	<meta name="twitter:image:src" content="https://www.vanessaamilet.com/images/vanessaamilet-social.jpg">
	<%= csrf_meta_tags %>

 	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<!-- Fonts -->
	<link rel="stylesheet" href="https://use.typekit.net/imt5zus.css">
 	<!-- Bootstrap core CSS -->
 	<!-- CSS only -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<!-- Font Awesome CSS -->
	<script src="https://kit.fontawesome.com/251084c802.js" crossorigin="anonymous"></script>
	<!-- Fancybox CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.css" />
	<!-- Cookie Consent CSS --> 
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />


	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42793330-1"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-42793330-1');
	</script>
	<!-- Pinterest 	-->
	<meta name="p:domain_verify" content="c5fa8c6a9833ae70e59dbd28e125b811"/>

</head>
<body class="<%= content_for :body_class %>">
<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
	<div id="wrap">
		<header class="header sticky-top">
			<!-- Static navbar -->
			<nav class="navbar navbar-expand-lg bg-light justify-content-between d-flex compensate-for-scrollbar" role="navigation">
				<div class="container-lg">
					<!-- Mobile Logo -->
					<div class="navbar-brand d-lg-none">
						<%= link_to(root_path) do %>
							<div id="logo" class="<%= 'active' if current_page?(root_path) %>">
								<%= render :partial => "shared/logo" %>
							</div>
						<% end %>
					</div>

					<button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<!-- Collapse -->
					<div id="navbarNav" class="collapse navbar-collapse justify-content-end">
						<!-- Navigation - Left -->
						<ul class="navbar-nav justify-content-end w-100" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
							<li class="<%= 'active' if current_page?(services_path) %> nav-item" itemprop="name"><%= link_to "Services", services_path, :class=>"nav-link", :itemprop=>"url" %></li>
							<li class="<%= 'active' if current_page?(portfolio_path) %> nav-item" itemprop="name"><%= link_to "Projects", portfolio_path, :class=>"nav-link", :itemprop=>"url" %></li>
						</ul>
						<!-- Desktop Logo -->
						<div class="navbar-brand d-none d-lg-block">
							<%= link_to(root_path) do %>
								<div id="logo" class="<%= 'active' if current_page?(root_path) %>">
									<%= render :partial => "shared/logo" %>
								</div>
							<% end %>
						</div>
						<!-- Navigation - Left -->
						<ul class="navbar-nav justify-content-start w-100">
							<li class="<%= 'active' if current_page?(about_path) %> nav-item" itemprop="name"><%= link_to "About", about_path, :class=>"nav-link", :itemprop=>"url" %></li>
							<li class="<%= 'active' if current_page?(contact_path) %> nav-item" itemprop="name"><%= link_to "Let's Work Together", contact_path, :class=>"nav-link", :itemprop=>"url" %></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div><!--/.container -->
			</nav><!--/ .navbar-static-top -->
		</header>
	<%= yield %>
	</div><!--/ #wrap -->
	<%= render :partial => "shared/footer" %>

	<a href="" class="to-top">Scroll</a>
	<!-- Fancybox JS -->
	<script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>

    <!-- Separate Popper and Bootstrap JS -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

	<!-- Cookie Consent JS --> 
	<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
	<script>
		window.cookieconsent.initialise({
			"palette": {
				"popup": {
				"background": "#4db9ac",
				"text": "#333333"
				},
				"button": {
				"background": "#2b2b6a",
				"text": "#ffffff"
				}
			},
			"position": "bottom-left",
			"content": {
				"href": "/privacy-policy"
			}
		});
	</script>
	
	</body>
</html>
