<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="en-US"class="no-js iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="en-US" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en-US" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-US" class="no-js ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!-->
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
	<meta name="MobileOptimized" content="320">
	<meta name="HandheldFriendly" content="True">
	<meta name="theme-color" content="#6050C7">
    <meta name="msapplication-TileColor" content="#6050C7">
 	<%= metamagic %>

 	<!-- Bootstrap core CSS -->
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

 	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
		<link rel="shortcut icon" type="image/x-icon" href=<%= asset_path "favicon.ico" %>>

		<!-- Opengraph Tags -->
		<meta property="og:locale" content="en_US"/>
		<meta property="og:title" content="Vanessa Amilet - Web & Graphic Designer"/>
		<meta property="og:type" content="website"/>
		<meta property="og:image" content="http://www.vanessaamilet.com/images/vanessaamilet-avatar.gif"/>
		<meta property="og:url" content="https://www.vanessaamilet.com/"/>
		<meta property="og:site_name" content="Vanessa Amilet - Web & Graphic Designer"/>
		<meta property="og:description" content="Welcome to the Portfolio of Vanessa Amilet Santos, Web Designer & Developer Designer based in Houston, Texas." />

		<!-- Twitter Cards -->
		<meta name="twitter:card" value="summary" content="summary_large_image">
		<meta name="twitter:site" content="@vanessaamilet">
		<meta name="twitter:creator" content="@vanessaamilet">
		<meta name="twitter:title" content="Vanessa Amilet - Web & Graphic Designer">
		<meta name="twitter:description" content="Welcome to the Portfolio of Vanessa Amilet Santos, Web & Graphic Designer located in Houston, Texas.">
		<meta name="twitter:image:src" content="http://www.vanessaamilet.com/images/vanessaamilet-avatar.gif">

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-42793330-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-42793330-1');
		</script>

</head>
<body class="<%= content_for :body_class %>">
<!--[if lt IE 8]>
	<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div id="wrap">
	<header class="header">
		<!-- Static navbar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between d-flex" role="navigation">
			<div class="container">
				<div class="navbar-brand">
					<%= link_to(root_path) do %>
						<div id="logo"></div>
					<% end %>
				</div>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="navbar-collapse collapse justify-content-end" id="navbarNav" aria-expanded="false">
					<ul class="navbar-nav">
						<li class="<%= 'active' if current_page?(root_path) %> nav-item"><%= link_to "Home", root_path, :class=>"nav-link" %></li>
						<li class="<%= 'active' if current_page?(about_path) %> nav-item"><%= link_to "About", about_path, :class=>"nav-link" %></li>
						<li class="<%= 'active' if current_page?(portfolio_path) %> nav-item"><%= link_to "Work", portfolio_path, :class=>"nav-link" %></li>
						<li class="<%= 'active' if current_page?(contact_path) %> nav-item"><%= link_to "Contact", contact_path, :class=>"nav-link" %></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div><!--/.container -->
		</nav><!--/ .navbar-static-top -->
<%= yield %>
</div><!--/ #wrap -->
<!-- <%= render :partial => "shared/preloader" if current_page?(root_path) %> -->
<%= render :partial => "shared/footer" %>
<a href="" class="to-top">Scroll</a>
</body>
</html>
